<div class="signup-container">
  <div class="signup-box">
    <h2>Créer un compte</h2>
    <form (ngSubmit)="signup()">
      <div class="input-group">
        <i class="fas fa-user"></i>
        <input
          type="text"
          id="prenom"
          [(ngModel)]="newUser.prenom"
          name="prenom"
          placeholder="Prénom"
          required
        />
      </div>
      <div class="input-group">
        <i class="fas fa-user"></i>
        <input
          type="text"
          id="nom"
          [(ngModel)]="newUser.nom"
          name="nom"
          placeholder="Nom"
          required
        />
      </div>
      <div class="input-group">
        <i class="fas fa-envelope"></i>
        <input
          type="email"
          id="email"
          [(ngModel)]="newUser.email"
          name="email"
          placeholder="Email"
          required
        />
      </div>
      <div class="input-group">
        <i class="fas fa-user"></i>
        <input
          type="text"
          id="login"
          [(ngModel)]="newUser.login"
          name="login"
          placeholder="Identifiant"
          required
        />
      </div>
      <div class="input-group">
        <i class="fas fa-lock"></i>
        <input
          type="password"
          id="password"
          [(ngModel)]="newUser.password"
          name="password"
          placeholder="Mot de passe"
          required
        />
      </div>
      <div class="input-group">
        <i class="fas fa-map-marker-alt"></i>
        <input
          type="text"
          id="adresse"
          [(ngModel)]="newUser.adresse"
          name="adresse"
          placeholder="Adresse"
        />
      </div>
      <div class="input-group">
        <i class="fas fa-phone"></i>
        <input
          type="text"
          id="telephone"
          [(ngModel)]="newUser.telephone"
          name="telephone"
          placeholder="Téléphone"
        />
      </div>
      <button type="submit">S'inscrire</button>
    </form>
    <div *ngIf="error" class="error-message">
      {{ error }}
    </div>
    <a routerLink="/login" class="login-link">Retour à la connexion</a>
  </div>
</div>
