<div class="signup-container">
  <div class="signup-box">
    <h2>Créer un compte</h2>
    <form (ngSubmit)="signup()">
      <div class="input-group">
        <i class="fas fa-user"></i>
        <input
          type="text"
          id="firstName"
          [(ngModel)]="newUser.firstName"
          name="firstName"
          placeholder="Prénom"
          required
        />
      </div>
      <div class="input-group">
        <i class="fas fa-user"></i>
        <input
          type="text"
          id="lastName"
          [(ngModel)]="newUser.lastName"
          name="lastName"
          placeholder="Nom"
          required
        />
      </div>
      <div class="input-group">
        <i class="fas fa-user"></i>
        <input
          type="text"
          id="login"
          [(ngModel)]="newUser.login"
          name="login"
          placeholder="Identifiant"
          required
        />
      </div>
      <div class="input-group">
        <i class="fas fa-lock"></i>
        <input
          type="password"
          id="password"
          [(ngModel)]="newUser.password"
          name="password"
          placeholder="Mot de passe"
          required
        />
      </div>
      <button type="submit">S'inscrire</button>
    </form>
    <div *ngIf="error" class="error-message">
      {{ error }}
    </div>
    <a routerLink="/login" class="login-link">Retour à la connexion</a>
  </div>
</div>
